//Menu button
.menu-btn {
  position: absolute;
  top: 35px;
  right: 35px;
  z-index: 3;
  cursor: pointer;
  @include easeout;

  .btn-line {
    width: 30px;
    height: 4px;
    margin: 0 0 5px 0;
    background: #fff;
    @include easeout;
  }

  &.close {
    transform: rotate(180deg);

    .btn-line {
      //rotate line 1
      &:nth-child(1) {
        transform: rotate(45deg) translate(12.5px);
      }

      //delete line 2
      &:nth-child(2) {
        opacity: 0;
      }

      //rotate line 3
      &:nth-child(3) {
        transform: rotate(-45deg) translate(12.5px);
      }
    }
  }
}
